*{
  margin: 0;
  padding: 0;
  list-style: none;
}
.fdf-stu-task{
  .van-tabs--line .van-tabs__wrap{
    height: 0.76rem;
  }
}
.van-button{
  width: 1.5rem;
  margin-left: 2.44rem;
  margin-top: 0.52rem;
}
